<script>
  export let list = [1,2,3];

  import Card from '$lib/Card.svelte';
  import Counter from '$lib/Counter/index.svelte';
</script>

# Todos

<Card>

> # rabbit
> 김태희는 아직 배고프다

</Card>

- [ ] This is an incomplete item
- [x] This is an incomplete item
